<?php
$this->headTitle("Travel Add");
$form = $this->form;
$form->setAttribute('action', $this->url('add-travel'));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();

echo $this->form()->openTag($form);
?>
<?php $errors = $form->get('album_id')->getMessages(); ?>
<div class="control-group <?php if (!empty($errors)) : ?>error text-error<?php endif; ?>">
    <label class="control-label" for="album_id">album:</label>
    <div class="controls">
        <?= $this->formElementErrors($form->get('album_id')); ?>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <?= $this->formInput($form->get('album_id')); ?>
        </div>
    </div>
</div>

<?php $errors = $form->get('header')->getMessages(); ?>
<div class="control-group <?php if (!empty($errors)) : ?>error text-error<?php endif; ?>">
    <label class="control-label" for="header">header:</label>
    <div class="controls">
        <?= $this->formElementErrors($form->get('header')); ?>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <?= $this->formInput($form->get('header')); ?>
        </div>
    </div>
</div>

<?php $errors = $form->get('anons')->getMessages(); ?>
<div class="control-group <?php if (!empty($errors)) : ?>error text-error<?php endif; ?>">
    <label class="control-label" for="anons">anons:</label>
    <div class="controls">
        <?= $this->formElementErrors($form->get('anons')); ?>
        <div class="input-prepend">
            <span class="add-on">123</span>
            <?= $this->formInput($form->get('anons')); ?>
        </div>
    </div>
</div>

<?php $errors = $form->get('description')->getMessages(); ?>
<div class="control-group <?php if (!empty($errors)) : ?>error text-error<?php endif; ?>">
    <label class="control-label" for="description">description:</label>
    <div class="controls">
        <?= $this->formElementErrors($form->get('description')); ?>
        <div class="input-prepend">
            <span class="add-on">123</span>
            <?= $this->formInput($form->get('description')); ?>
        </div>
    </div>
</div>

<?php $errors = $form->get('coordinates')->getMessages(); ?>
<div class="control-group <?php if (!empty($errors)) : ?>error text-error<?php endif; ?>">
    <label class="control-label" for="coordinates">coordinates:</label>
    <div class="controls">
        <?= $this->formElementErrors($form->get('coordinates')); ?>
        <div class="input-prepend">
            <span class="add-on">123</span>
            <?= $this->formInput($form->get('coordinates')); ?>
        </div>
    </div>
</div>

<input type="submit" value="Add" class="btn btn-primary"/>

<?= $this->form()->closeTag($form); ?>
