<!--script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script-->
<script src="//api-maps.yandex.ru/2.1-dev/?lang=ru-RU&load=package.full" type="text/javascript"></script>
<link href="/css/my.css" media="screen" rel="stylesheet" type="text/css">

<style>
    #right_botton{
        background-image: url(/images/background_add_travel_mini.jpg);
        background-repeat: repeat;
        width: 20px;
        height: 580px;
    }
    #div_add_left{
        border: 1px solid gray;
        padding: 3px;
        float: left;
    }
    #hidenAdd{
        visibility: hidden;
        height: 300px;
        float: right;
    }
    body, html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: Arial;
    }
    #map {
        width: 100%;
        height: 60%;
    }

    #marker {
        background-image: url('http://api.yandex.ru/maps/jsbox/2.1/examples/maps/ru/dragger/images/pin_food.png');
        width: 33px;
        height: 36px;
        position: absolute;
    }
    .header {
        padding: 5px;
    }
</style>

<script type="text/javascript">

    i=0;
    function jsonSend(){


        $.ajax({
            type: "POST",
            url: "http://travel.ivanus.ru/travel/json-get-travels",
            data: {id: i++}
            })
            .done(function( data2) {
                data3 = data2;
                k = 0;
                var clusterer = new ymaps.Clusterer();
                for (key in data3){
                    placemarks[k++] = new ymaps.Placemark([data3[key]['coordinate1'],data3[key]['coordinate2']], {
                        balloonContentBody: [
                            '<div id="my_header">',
                                data3[key]['header'],
                            '</div>',
                            '<div id="my_body">',
                                '<div id="my_body_left">',
                                    data3[key]['anons'],
                                '</div>',
                                '<div id="my_body_right">',
                                    '<img style="width: 100px;" src="http://www.mixnews.lv/uploads/comments/comments_35710ebc51a11f6d2147aa31501bf8e54ef4b68e.jpg">',
                                    '<br>',
                                    '<img style="width: 100px;" src="http://www.mixnews.lv/uploads/comments/comments_35710ebc51a11f6d2147aa31501bf8e54ef4b68e.jpg">',
                                    '<br>',
                                '</div>',
                            '</div>'
                        ].join('')
                    }, {
//                        preset: 'islands#redDotIcon'
                        iconLayout: 'default#image',
                        iconImageHref: "/images/travel.png",
                        iconImageSize: [30,42],
                        iconImageOffset: [-3,-42]

                    });


                    console.log(data3[key]);
                    console.log('coordinate - '+data3[key]['coordinate1']);
                }
                clusterer.add(placemarks);
                myMap.geoObjects.add(clusterer);
            })
            .fail(function(errrrr) {
                console.log(errrrr);
                alert( "error"+errrrr );
            })
            .always(function() {
    //            alert( "complete" );
            });
    }

 </script>
<script type="text/javascript">
var myMap;

// Дождёмся загрузки API и готовности DOM.
ymaps.ready(init);



//Добавляем состояние выключателя добавления места для путешествия
var switchAddTravel = false;
var OneClickAdd = false;
var alreadyLoadFormAddTravel = false;

function init () {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map").
    myMap = new ymaps.Map('map', {
        // При инициализации карты обязательно нужно указать
       // её центр и коэффициент масштабирования.
        center:[49.91, 86.54], // Москва
        zoom:10
    }),
    placemarks = [];


    var template =
        '<div id="right_botton">'
            + '<div id="div_add_left" onclick="myfun();">'
               + "<img style='height:300px; width: 20px;background-image: url(/images/background_add_travel_mini.jpg);' src='/images/add_travel_mini_box.jpg'>"
            + "</div>"
            + "<div id='hidenAdd'></div>"
        + "</div>";

    var myBut2 = new ymaps.control.Button({
            data: {
                content: "Моя кнопка"
            },
            options: {
                layout:
                    ymaps.templateLayoutFactory.createClass(
                        template
                    ),
                maxWidth: 100
            }});


    myPosBot = { float: "none",
            position: {
                    top:50,
                    right:10
            }
    };

    myMap.controls.add( myBut2, myPosBot);

    jsonSend();

}

var addfunn = function (e) {
    // Географические координаты точки клика можно узнать
    // посредством вызова .get('coords')
    if (OneClickAdd == false) {
        OneClickAdd = true;
        var position = e.get('coords');

        myPlacemark = new ymaps.Placemark(position, {
                // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
                balloonContentHeader: "Добавить путешествие",
                balloonContentBody: "Проеврочка",
                balloonContentFooter: "Подвал",
                hintContent: "Хинт метки"
            },
            {   draggable: true,
                iconLayout: 'default#image',
                iconImageHref: "/images/travel_add.png",
                iconImageSize: [30,42],
                iconImageOffset: [-3,-42]

            });
        myPlacemark.events.add('dragend', function (g){
            var position2 = g.get('target').geometry.getCoordinates();
		    //alert('im come in');
            showAddTravelDiv(position2);
        });
//        myPlacemark.events.add('balloonopen', function (j){
//            myPlacemark.properties.set('balloonContentBody', );
//        });
        myMap.geoObjects.add(myPlacemark);

    }
};

function showAddTravelDiv(position){
    if (alreadyLoadFormAddTravel) {
	    $("input[name='coordinates']").val(position.join(","));
    } else {
	    alreadyLoadFormAddTravel = true;
        $("#hidenAdd").css('visibility', 'visible ').load("http://travel.ivanus.ru/travel/add-travel",function(responce, status, xhr){
            if (status == "success"){
	            $('#right_botton').animate({
                    width: "+=570"
                },800);
                $("input[name='coordinates']").val(position.join(","))
            }
	});
    }
    //$("input[name='coordinates']").val(position.join(" "));
    //$("#hidenAdd").css('visibility', 'visible ').html(position.join(' '));

    //alert("1111");
}

function myfun(){

    if (switchAddTravel == false) {
        myMap.events.add('click', addfunn);
        switchAddTravel = true;
    } else {
        OneClickAdd = false;
        myMap.events.remove("click", addfunn);
        $('#right_botton').animate({
            width: "-=570"
        },800);
        switchAddTravel = false;
    }
    console.log("Come out");

}



</script>

<div id="map" style="height:800px;position: relative;top: 50px;"></div>
<?php
$title = "My stay";
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


