<table>

<?php foreach ($list as $elem) :
    ?>
        <tr>
            <td><? echo $elem->getHeader()?></td>
            <td><? echo $elem->getDescription()?></td>
            <td><? echo $elem->getCoordinates()?></td>
        </tr>
    <? endforeach;?>
</table>
