#my_header{
    background-color: #90c83a;
    text-align: center;
    color: white;
    font-size: medium;
    text-transform: uppercase;
    width:400px;
}
#my_body{
    width:400px;
}
#my_body_left{
    width:280px;
    float:left;
    padding: 0 10px 0 10px;
}
#my_body_right{
    width: 100px;
    float: right;
}