<h2 class="span12"><?php echo $this->randomGallery->getOwner()->getUsername(); ?>'s gallery</h2>

<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <?php foreach($this->allGallery as $gallery) : ?>
                <?php $username = $gallery->getOwner()->getUsername(); ?>
                <li>
                    <a href="<?= $this->url('gallery-show', array(
                        'username' => $username)); ?>"><?= $username; ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div><!--/.well -->
</div>