
<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <?php foreach($this->albums as $album) : ?>
                <li>
                    <?= $album->getHeader(); ?><a href=<?=$this->url('album-delete', array('action' => 'delete','id' => $album->getId()))?>><img src="http://www.adweek.com/socialtimes/files/2013/04/delete-300x300.jpg" width="10" height="10"></a>
                    <a href=<?=$this->url('album-edit', array('action' => 'edit','id' => $album->getId()))?>><img src="http://s1.iconbird.com/ico/2013/6/272/w128h1281371312762PixelKit00451.png" width="10" height="10"></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div><!--/.well -->
</div>