<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Gallery'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery.lightbox-0.5.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css'); ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/js/jquery.lightbox-0.5.js')
                                      ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

        <script src="http://api.jquery.com/scripts/events.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo $this->url('home') ?>">Home</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <?php $userSession = new \Zend\Session\Container('user'); ?>
                            <?php if ($userSession->offsetExists('user')) : ?>
                                <?php if (!$userSession->offsetGet('user')->isAdmin()) : ?>
                                    <li><a href="<?= $this->url('gallery-show', array('username' => $userSession->offsetGet('user')->getUsername())); ?>" href="#">Profil</a></li>
                                    <li><a href="<?= $this->url('show-gallery-all')?>">Show all gallerys</a></li>
                                    <li><a href="<?= $this->url('image-add') ?>">Add image</a></li>
                                    <li><a href="<?= $this->url('album-add') ?>">Add album</a></li>
                                    <li><a href="<?= $this->url('album-show-all') ?>">Show albums</a></li>
                                <?php else : ?>
                                    <li><a href="<?= $this->url('admin') ?>">Admin</a></li>
                                <?php endif; ?>
                            <?php endif; ?>
                        </ul>
                        <?php if (!$userSession->offsetExists('user')) : ?>
                        <div class="js_login pull-right">
                            <form method="POST" action="<?= $this->url('login') ?>" class="navbar-form pull-right">
                                <input class="input-small js_login_username" type="text" name="login" placeholder="Username" />
                                <input class="input-small js_login_password" type="password" name="password" placeholder="Password" />
                                <input type="submit" class="btn btn-primary js_login_submit" />
                            </form>
                        </div>
                        <p class="navbar-text pull-left">
                            <?php if (!isset($this->viewModel()->getCurrent()->getChildren()[0]->noDisplayWell)) : ?>
                                Not register yet ? You can register <a class="js_register_link">here!</a>
                            <?php endif; ?>
                        </p>
                        <?php else : ?>
                        <a class="btn btn-primary pull-right" href="<?= $this->url('logout'); ?>">logout</a>
                            <?php
                            $userSession = new \Zend\Session\Container('user');
                            $user = $userSession->offsetGet('user');
                            ?>
                            <?php if ($user !== null) : ?>
                            <p class="navbar-text pull-right logged_in">Logged in as <?= $user->getUsername() ?></p>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <?= $this->flashMessage(); ?>
            <?php echo $this->content; ?>
        </div> <!-- /container -->

		<div class="modal modal-big hide fade js_register_modal" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Register</h3>
			</div>
			<div class="modal-body">
				<p>Loading…</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary js_register_submit">Register</button>
			</div>
		</div>

        <?php echo $this->inlineScript() ?>
    </body>

    <script type="text/javascript">
        $(document).ready(function() {
            $('a.lightbox').lightBox();

            $('.js_login').on('click', '.js_login_submit', function(event) {
                event.preventDefault();
                login = $('.js_login_username').val();
                password = $('.js_login_password').val();
                jQuery.ajax({
                    type: 'POST',
                    url: '<?= $this->url('login'); ?>',
                    data: {
                        login    : login,
                        password : password
                    },
                    success: function(data, textStatus, jqXHR) {
                        if ('undefined' == typeof(data.redirect)) {
                            $('.js_login').html(data);
                        } else {
                            window.location.href = data.redirect;
                        }
                    }
                });
            });

            $(document).on('click', '.js_register_link', function() {
                $('.js_register_modal').modal('show');
                jQuery.ajax({
                    type: 'GET',
                    url: '<?= $this->url('register'); ?>',
                    success: function(data, textStatus, jqXHR) {
                        if ('undefined' == typeof(data.finish)) {
                            $('.modal-body').html(data);
                        } else {
                            window.location.href = data.finish;
                        }
                    }
                })
            });

            submitRegister = function() {
                email         = $('.js_register_modal input[name = "email"]').val();
                username      = $('.js_register_modal input[name = "username"]').val();
                age           = $('.js_register_modal input[name = "age"]').val();
                captcha_id    = $('.js_register_modal input[name = "captcha[id]"]').val();
                captcha_input = $('.js_register_modal input[name = "captcha[input]"]').val();

                jQuery.ajax({
                    type: 'POST',
					url: '<?= $this->url('register'); ?>',
					data: {
						email    : email,
						username : username,
						age      : age,
						captcha: {
							id    : captcha_id,
							input : captcha_input
						}
					},
                    success: function(data, textStatus, jqXHR) {
                        if ('undefined' == typeof(data.finish)) {
                            $('.modal-body').html(data);
                        } else {
                            location.reload();
                        }
                    }
                })
            }

            $('.js_register_modal').on('click', '.js_register_submit', function() {
                submitRegister();
            });

            $(".js_register_modal").keypress(function(event) {
                // 'Enter' is press we validate the form
                if ( event.which == 13 ) {
                    submitRegister();
                }
            });

            $(document).on('click', '.js_remove_user', function(event) {
				if (!confirm("Are you sure you want to delete this user?")) {
					event.preventDefault();
				}
            });

            $(document).on('click', '.js_unblock_user', function(event) {
				if (!confirm("Are you sure you want to unblock this user?")) {
					event.preventDefault();
				}
            });

            $(document).on('click', '.js_image_remove', function(event) {
                if (!confirm('Are you sure you want to remove this image?')) {
                    event.preventDefault();
                }
            });
        });
    </script>
</html>
